#nav-principal {
    grid-area: nav;

    width: 100%;
    min-height: fit-content;
    padding: 0rem 2rem;
    box-sizing: border-box;

    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

#nav-principal::-webkit-scrollbar {
    display: none;
}

#lista-categorias {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    margin: 0rem;
    padding: 0rem;
}

.categoria {
    background-color: #FFFFFF;
    border: 1px solid #FF8300;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.categoria a {
    display: inline-block;
    padding: 0.5rem 1rem;
    white-space: nowrap;
}

.categoria:hover {
    background-color: #FF8300;
}

.categoria:hover a {
    color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
    #nav-principal {
        background-color: #FFECD8;
        padding: 0.5rem;
        margin: 0;
        
        position: sticky;
        top: 0;
    }

    #lista-categorias {
        gap: 2rem;
    }

    .categoria {
        background-color: transparent;
        border: none;
        border-radius: 6px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .categoria a::after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url('../assets/icons/arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 0.5rem;
    }

    .categoria:hover a::after {
        filter: brightness(0) invert(1);
    }
}
