.main-header {
    grid-area: header;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "logo title"
    "search search";

    column-gap: 1rem;
    row-gap: 0.8rem;
    place-items: center start;

    background-color: #FF8300;
    padding: 2rem 2rem 1.5rem 2rem;
}

#logo-gobierno-nl {
    grid-area: logo;
    margin: 0px;
}

#t-site {
    grid-area: title;
    color: #FFFFFF;
}

#search-bar {
    grid-area: search;

    display: flex;
    flex-direction: row;
    width: 100%;

    background-color: #FFFFFF;
    border: 1px solid #FF8300;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

    padding: 0.4rem;
    gap: 0.5rem;
}

#search-bar:focus-within {
    border-color: #58616E;
}

#search-bar input[type="search"] {
    border: none;
    background: none;
    width: 100%;
}

#search-bar input[type="search"]:focus {
    outline: none;
}

#search-bar input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url('../assets/icons/close.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width: 1024px) {
    .main-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
    }
    
    #t-site {
        white-space: nowrap;
    }

    #search-bar {
        padding: 0.7rem;
    }
}
