html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat';
    margin: 0px;
}

#root {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto min-content auto auto;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer"
    ;

    gap: 1rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

input {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
}

figure {
    margin: 0;
}

main {
    grid-area: main;
    padding: 0rem 2rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    margin: 1rem 0rem;
}

.main-header {
    grid-area: header;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "logo title"
    "search search";

    column-gap: 1rem;
    row-gap: 0.8rem;
    place-items: center start;

    background-color: #FF8300;
    padding: 2rem 2rem 1.5rem 2rem;
}


#logo-gobierno-nl {
    grid-area: logo;

    margin: 0px;
}

#t-site {
    grid-area: title;
    color: #FFFFFF;
}

#search-bar {
    grid-area: search;

    display: flex;
    flex-direction: row;
    width: 100%;

    background-color: #FFFFFF;
    border: 1px solid #FF8300;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

    padding: 0.4rem;
    gap: 0.5rem;
}

#search-bar:focus-within {
    border-color: #58616E;
}

#search-bar input[type="search"] {
    border: none;
    background: none;
    width: 100%;
}

#search-bar input[type="search"]:focus {
    outline: none;
}

#search-bar input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url('../assets/icons/close.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

#nav-principal {
    grid-area: nav;

    width: 100%;
    min-height: fit-content;
    padding: 0rem 2rem;
    box-sizing: border-box;

    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

#nav-principal::-webkit-scrollbar {
    display: none;
}

#lista-categorias {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    margin: 0rem;
    padding: 0rem;
}

.categoria {
    background-color: #FFFFFF;
    border: 1px solid #FF8300;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.categoria a {
    display: inline-block;
    padding: 0.5rem 1rem;
    white-space: nowrap;
}

.categoria:hover {
    background-color: #FF8300;
}

.categoria:hover a {
    color: #FFFFFF;
}

.section-container {
    width: 100%;
    min-height: fit-content;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#lista-productos, #lista-canastas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    margin: 0rem;
    padding: 0rem;
    list-style: none;
}

#lista-emprendedores {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;

    margin: 0rem;
    padding: 0rem;
    list-style: none;
}

.card {
    flex: 1;
    background-color: #FFFFFF;
    border: 1px solid #58616E;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card:hover {
    background-color: #FFECD8;
    border: 1px solid #FF8300;
}

#lista-productos a, #lista-canastas a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 0.25rem;
    padding: 0.5rem 1rem;
}

#lista-emprendedores a {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "imagen nombre"
        "imagen descripcion";

    gap: 1rem;
    padding: 0.5rem 1rem;
}

#lista-emprendedores figure {
    grid-area: imagen;
    margin-right: 1rem;
    width: 124px;
}

#lista-emprendedores h3 {
    grid-area: nombre;
}

#lista-emprendedores p {
    grid-area: descripcion;
}

.card a figure {
    height: 124px;
}

.card a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#lista-canastas .card a figure img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

footer {
    grid-area: footer;
    padding: 2rem;
    
    background-color: #FF8300;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

footer address {
    display: grid;
    grid-template-rows: auto auto;
    gap: 0.3rem;
    justify-items: center;
}

.logos {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.contactos-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.contacto-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.contacto-container p {
    color: #FFFFFF;
    font-style: normal;
}

#t-contacto {
    color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

@media screen and (min-width: 1024px) {
    #root {
        row-gap: 0;
        height: auto;
        min-height: 100vh;
    }

    .main-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
    }
    
    #t-site {
        white-space: nowrap;
    }

    #nav-principal {
        background-color: #FFECD8;
        padding: 0.5rem;
        margin: 0;
        
        position: sticky;
        top: 0;
    }

    #lista-categorias {
        gap: 2rem;
    }

    .categoria {
        background-color: transparent;
        border: none;
        border-radius: 6px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .categoria a::after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url('../assets/icons/arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 0.5rem;
    }

    .categoria:hover a::after {
        filter: brightness(0) invert(1);
    }

    main {
        margin-top: 2.5rem;
        margin-bottom: 4rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: auto auto;
        grid-template-areas: 
            "destacados destacados"
            "emprendedores canastas";
    }

    #destacados {
        grid-area: destacados;
    }

    #emprendedores {
        grid-area: emprendedores;
    }

    #canastas {
        grid-area: canastas;
    }

    #lista-emprendedores, #lista-canastas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
        background-color: #F2F7FF;
        padding: 2rem;
        border-radius: 6px;
    }

    #lista-emprendedores a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    
        gap: 0.25rem;
        padding: 0.5rem 1rem;
    }

    #search-bar {
        padding: 0.7rem;
    }
}
